<div class="footer-card">
  <div class="card-holder">
    <div class="card-items">
      <div class="header">CUSTOMER CARE</div>
      <ul class="sub-nav">
        <li>Shipping & Delivery</li>
        <li>F.A.Q.s</li>
        <li>Privacy Policy</li>
        <li>Terms & Conditions</li>
        <li>Contact Us</li>
        <li>Gift Cards</li>
      </ul>
    </div>
    <div class="card-items">
      <div class="header">COMPANY</div>
      <ul class="sub-nav">
        <li>About</li>
        <li>Carrers</li>
        <li>Partner With Us</li>
        <li>Press</li>
        <li>Accessibility</li>
        <li>Size Guide</li>
      </ul>
    </div>
    <div class="vl card-items"></div>
    <div class="card-items text-center">
      <div>
        <div class="header">CONTACT US</div>
        <ul class="sub-nav">
          <li>Lil Brats</li>
          <li>(+91 9876543210)</li>
          <li>Mon-Sun: 11am—9pm IST</li>
          <li>lilbrats@gmail.com</li>
        </ul>
        <ul class="footer-social">
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-facebook-f"></i></li>
          <li><i class="fab fa-pinterest-p"></i></li>
        </ul>
      </div>
    </div>
    <div class="vl card-items"></div>
    <div class="card-items ">
      <div>
        <div class="header">PAYMENT METHOD</div>
        <ul class="sub-nav">
          <li>Credit card/Debit Card</li>
          <li>Net Banking</li>
          <li>All Wallets</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- <div class="card-items footer-signup-section">
  <p class="footer-signup-label">
    Fresh arrivals, new and new-to-you brands, and expert edits. Basically,
    a bundle of joy in email form.
  </p>
  <div class="footer-signup-button">
    <input
      id="join-mailing-list-input"
      value="Join our mailing list"
      type="email"
      required=""
    />
    <button><i class="fas fa-arrow-circle-right"></i></button>
  </div>
  <div class="footer-copyright">
    <small class="footer__legal"
      >© 2019 Maisonette<sup
        style="font-style: normal; vertical-align: super;"
        >®</sup
      >LLC
    </small>
  </div>
</div> -->