<div class="edit-container">
    <div class="edit-header-section text-center">
      <div class="edit-header-top">The Edits</div>
      <!-- <div class="edit-header-bottom">Read Le Scoop</div> -->
    </div>
    <div class="edit-card-container">
      <div class="edit-card">
        <img class="edit-card-image" src="assets/images/Brats-imgs/8.png" />
        <div class="edit-card-category">Holiday</div>
        <div class="edit-card-title">Hanukkah Shop</div>
        <div class="edit-card-action">Shop Now</div>
      </div>
      <div class="edit-card">
        <img class="edit-card-image" src="assets/images/Brats-imgs/9.png" />
        <div class="edit-card-category">Holiday</div>
        <div class="edit-card-title">Pajamas</div>
        <div class="edit-card-action">Shop Now</div>
      </div>
      <div class="edit-card">
        <img class="edit-card-image" src="assets/images/Brats-imgs/10.png" />
        <div class="edit-card-category">Holiday</div>
        <div class="edit-card-title">WOW Gifts</div>
        <div class="edit-card-action">Shop Now</div>
      </div>
      <div class="edit-card">
        <img class="edit-card-image" src="assets/images/Brats-imgs/12.png" />
        <div class="edit-card-category">Play</div>
        <div class="edit-card-title">Ride-On Toys</div>
        <div class="edit-card-action">Shop Now</div>
      </div>
      <div class="edit-card">
        <img class="edit-card-image" src="assets/images/Brats-imgs/11.png" />
        <div class="edit-card-category">Holiday</div>
        <div class="edit-card-title">Stocking Stuffers</div>
        <div class="edit-card-action">Shop Now</div>
      </div>
      <div class="edit-card">
        <img class="edit-card-image" src="assets/images/Brats-imgs/14.png" />
        <div class="edit-card-category">Footwear</div>
        <div class="edit-card-title">Winter Boots</div>
        <div class="edit-card-action">Shop Now</div>
      </div>
      <div class="edit-card">
        <img class="edit-card-image" src="assets/images/Brats-imgs/13.png" />
        <div class="edit-card-category">Clothing & Accessories</div>
        <div class="edit-card-title">Holiday Dressing</div>
        <div class="edit-card-action">Shop Now</div>
      </div>
      <div class="edit-card">
        <img class="edit-card-image" src="assets/images/Brats-imgs/15.png" />
        <div class="edit-card-category">Holiday</div>
        <div class="edit-card-title">Gifts for Mom</div>
        <div class="edit-card-action">Shop Now</div>
      </div>
    </div>
  </div>
