<div class="shop-by-age-container">
    <div class="shop-by-age-header-section text-center">
        <div class="shop-by-age-header-top">Shop by Age</div>
        <!-- <div class="shop-by-age-header-bottom">Read Le Scoop</div> -->
    </div>
    <div class="shop-by-age-card-container">
        <div class="shop-by-age-card">
            <img class="shop-by-age-card-image" src="assets/images/Brats-imgs/14.png" />
            <div class="shop-by-age-card-title">0-6M</div>
            <div class="shop-by-age-card-action"><i class="fas fa-arrow-circle-right"></i></div>
        </div>
        <div class="shop-by-age-card">
            <img class="shop-by-age-card-image" src="assets/images/Brats-imgs/15.png" />
            <div class="shop-by-age-card-title">6-12M</div>
            <div class="shop-by-age-card-action"><i class="fas fa-arrow-circle-right"></i></div>
        </div>
        <div class="shop-by-age-card">
            <img class="shop-by-age-card-image" src="assets/images/Brats-imgs/8.png" />
            <div class="shop-by-age-card-title">12-24M</div>
            <div class="shop-by-age-card-action"><i class="fas fa-arrow-circle-right"></i></div>
        </div>
        <div class="shop-by-age-card">
            <img class="shop-by-age-card-image" src="assets/images/Brats-imgs/10.png" />
            <div class="shop-by-age-card-title">2-4Y</div>
            <div class="shop-by-age-card-action"><i class="fas fa-arrow-circle-right"></i></div>
        </div>
        <div class="shop-by-age-card">
            <img class="shop-by-age-card-image" src="assets/images/Brats-imgs/9.png" />
            <div class="shop-by-age-card-title">4-6Y</div>
            <div class="shop-by-age-card-action"><i class="fas fa-arrow-circle-right"></i></div>
        </div>
        <div class="shop-by-age-card">
            <img class="shop-by-age-card-image" src="assets/images/Brats-imgs/11.png" />
            <div class="shop-by-age-card-title">6-8Y</div>
            <div class="shop-by-age-card-action"><i class="fas fa-arrow-circle-right"></i></div>
        </div>
        <div class="shop-by-age-card">
            <img class="shop-by-age-card-image" src="assets/images/Brats-imgs/12.png" />
            <div class="shop-by-age-card-title">8Y+</div>
            <div class="shop-by-age-card-action"><i class="fas fa-arrow-circle-right"></i></div>
        </div>
        <div class="shop-by-age-card">
            <img class="shop-by-age-card-image" src="assets/images/Brats-imgs/14.png" />
            <div class="shop-by-age-card-title">GROWN-UPS</div>
            <div class="shop-by-age-card-action"><i class="fas fa-arrow-circle-right"></i></div>
        </div>
    </div>