<section class="articles-section">
  <div class="articles-container">
    <div class="articles-header-section text-center">
      <div class="articles-header-top">Favorite Articles of 2019</div>
      <div class="articles-header-bottom">Read Le Scoop</div>
    </div>
    <div class="articles-card-container">
      <div class="articles-card">
        <img class="articles-card-image" src="assets/images/LeScoop1.jpg" />
        <div class="articles-card-category">Parenting</div>
        <div class="articles-card-title">3 Things Working Moms Need to Hear</div>
        <div class="articles-card-action">Read Now</div>
      </div>
      <div class="articles-card">
        <img class="articles-card-image" src="assets/images/LeScoop2.jpg" />
        <div class="articles-card-category">Baby on Board</div>
        <div class="articles-card-title">What I Didn't Expect About Expecting</div>
        <div class="articles-card-action">Read Now</div>
      </div>
      <div class="articles-card">
        <img class="articles-card-image" src="assets/images/LeScoop3.jpg" />
        <div class="articles-card-category">Sh*ts & Giggles</div>
        <div class="articles-card-title">Morning Routines for Highly Ineffective Parents</div>
        <div class="articles-card-action">Read Now</div>
      </div>
      <div class="articles-card">
        <img class="articles-card-image" src="assets/images/LeScoop4.jpg" />
        <div class="articles-card-category">Parental Arts</div>
        <div class="articles-card-title">Eve Rodsky on How To Have A Fair Play Holiday</div>
        <div class="articles-card-action">Read Now</div>
      </div>
    </div>
  </div>
</section>