<section class="articles-section">
  <div class="articles-container">
    <div class="articles-header-section text-center">
      <div class="articles-header-top">Latest Collections</div>
      <div class="articles-header-bottom">Read Le Scoop</div>
    </div>
    <div class="articles-card-container">
      <div class="articles-card">
        <img class="articles-card-image" src="assets/images/Brats-imgs/7.png" />
        <div class="articles-card-category">Lil Brats</div>
        <div class="articles-card-title">3 Things Working Moms Need to Hear</div>
        <div class="articles-card-action">Shop Now</div>
      </div>
      <div class="articles-card">
        <img class="articles-card-image" src="assets/images/Brats-imgs/19.png" />
        <div class="articles-card-category">Lil Brats</div>
        <div class="articles-card-title">What I Didn't Expect About Expecting</div>
        <div class="articles-card-action">Shop Now</div>
      </div>
      <div class="articles-card">
        <img class="articles-card-image" src="assets/images/Brats-imgs/11.png" />
        <div class="articles-card-category">Lil Brats</div>
        <div class="articles-card-title">Morning Routines for Highly Ineffective Parents</div>
        <div class="articles-card-action">Shop Now</div>
      </div>
      <div class="articles-card">
        <img class="articles-card-image" src="assets/images/Brats-imgs/3.png" />
        <div class="articles-card-category">Lil Brats</div>
        <div class="articles-card-title">Eve Rodsky on How To Have A Fair Play Holiday</div>
        <div class="articles-card-action">Shop Now</div>
      </div>
    </div>
  </div>
</section>