<div class="text-center banner-section ">
  <ul class="promo-carousel">
    <li class="promo-active">
      <span class="mobile-hidden">Enjoy </span>
      <em><span style="color:#f86b4e;"> 10% OFF</span> </em> your first order*
      <span style="color:#f86b4e;"><em>code: LilBrats10</em></span>
    </li>
    <li class="promo-inactive">
      <em><span style="color:#f86b4e;">FREE GROUND SHIPPING</span></em> on all
      orders over $75
    </li>
  </ul>
</div>
<div class="main-header d-flex">
  <div class="main-header-left col text-left">
    <!-- <button class="btn left-btn mobile-navigation">
      <i class="fas fa-bars"></i>
    </button>
    <button class="btn left-btn dollars">
      <i class="fas fa-globe" style="font-size: 13px;"></i>
      <span class="pl-2 sign">US | $</span>
    </button>
    <button class="btn left-btn">
      <i class="fas fa-search pl-2" style="font-size: 13px;"></i>
    </button> -->
  </div>
  <div class="main-header-middle col text-center">
    <!-- <div class="logo mb-3"></div> -->
    <img class="logo" style="width: 150px; height: 90px;" src="assets/images/logo1.png" />
    <div class="input-group">
      <input type="text" class="form-control logo-input" value="BE YOU SEARCH YOUR STYLE" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append logo-input-btn">
        <span class="input-group-text logo-btn" id="basic-addon2"><i class="fas fa-search logo-icon"></i></span>
      </div>
    </div>
  </div>
  <div class="main-header-right col text-right">
    <i class="fas fa-user mr-3 mobile-navigation" style="font-size: 13px;"></i>
    <span class="sign dollars">Sign in</span>
    <i class="fas fa-heart pl-2" style="font-size: 13px;"></i>
    <i class="fas fa-shopping-cart pl-2" style="font-size: 13px;"></i>
  </div>
</div>
<nav class="main-navigation-bar">
  <ul class="main-navigation-primary font-weight-bold">
    <!-- <li class="main-navigation-primary-item holiday">
      <img
        src="assets/images/wings-left.svg"
        style="width: 10px; height: 10px;"
      />
      <span style="color: #f86b4e">HOLIDAY</span>
      <img
        src="assets/images/wings-right.svg"
        style="width: 10px; height: 10px;"
      />
    </li> -->
    <li class="main-navigation-primary-item">HOME</li>
    <li class="main-navigation-primary-item">SHOP</li>
    <li class="main-navigation-primary-item">WHAT'S NEW</li>
    <li class="main-navigation-primary-item">ABOUT</li>
    <li class="main-navigation-primary-item">CONTACT US</li>
    <!-- <li class="main-navigation-primary-item">GEAR</li>
    <li class="main-navigation-primary-item">BRANDS</li>
    <li class="main-navigation-primary-item">BABY REGISTRY</li>
    <li class="main-navigation-primary-item">READ</li>
    <li class="main-navigation-primary-item">SALE</li> -->
  </ul>
</nav>