<div class="twin-container">
    <div class="twin-card-container">
        <div class="twin-card">
            <img class="twin-card-image-one" src="assets/images/twin1.jpg" />
            <div class="twin-card-description">
                <div class="twin-card-category">Just In</div>
                <div class="twin-card-title">Ski Shop</div>
                <div class="twin-card-action">Shop Now</div>
            </div>
        </div>
        <div class="twin-card">
            <img class="twin-card-image" src="assets/images/twin2.jpg" />
            <div class="twin-card-category">Up to 50% off</div>
            <div class="twin-card-title">Maison Me</div>
            <div class="twin-card-action">Shop Now</div>
        </div>
    </div>
</div>