<div class="twin-container">
    <div class="twin-card-container">
        <div class="twin-card">
            <img class="twin-card-image-one" src="assets/images/Brats-imgs/3.png" />
            <div class="twin-card-description">
                <div class="twin-card-category">Just In</div>
                <div class="twin-card-title">Ski Shop</div>
                <div class="twin-card-action">Shop Now</div>
            </div>
        </div>
        <div class="twin-card">
            <img class="twin-card-image" src="assets/images/Brats-imgs/4.png" />
            <div class="twin-card-category">Up to 50% off</div>
            <div class="twin-card-title">Brats</div>
            <div class="twin-card-action">Shop Now</div>
        </div>
    </div>
</div>