<div class="product-section-container">
    <div class="product-section-holder">
        <div class="product-section-title">Maison Me by Maisonette</div>
        <div class="product-section-scroll">
            <button class="product-section-button"><i class="fas fa-arrow-circle-left icon-button"></i></button>
            <div class="product-slider">
                <div class="product-card">
                    <img class="product-card-image" src="assets/images/dress1.jpg" />
                    <div class="product-card-category">Maison Me</div>
                    <div class="product-card-title">Ellis Down Puffer Jacket with Hood, Army Green</div>
                    <div class="product-card-price">$120.00</div>
                </div>
                <div class="product-card">
                    <img class="product-card-image" src="assets/images/dress2.jpg" />
                    <div class="product-card-category">Maison Me</div>
                    <div class="product-card-title">Ellis Down Puffer Jacket with Hood, Rose</div>
                    <div class="product-card-price">$120.00</div>
                </div>
                <div class="product-card">
                    <img class="product-card-image" src="assets/images/dress3.jpg" />
                    <div class="product-card-category">Maison Me</div>
                    <div class="product-card-title">Blake Taffeta Dress with Back Bow, Slate Blue</div>
                    <div class="product-card-price">$64.00</div>
                </div>
                <div class="product-card">
                    <img class="product-card-image" src="assets/images/dress4.jpg" />
                    <div class="product-card-category">Maison Me</div>
                    <div class="product-card-title">Blake Taffeta Dress with Back Bow, Scarlett Red</div>
                    <div class="product-card-price">$64.00</div>
                </div>
                <div class="product-card">
                    <img class="product-card-image" src="assets/images/dress5.jpg" />
                    <div class="product-card-category">Maison Me</div>
                    <div class="product-card-title">Audrey Taffeta Dress with Glitter Collar Detail, Sage Green</div>
                    <div class="product-card-price">$68.00</div>
                </div>
            </div>
            <button class="product-section-button"><i class="fas fa-arrow-circle-right icon-button"></i></button>
        </div>
        <div class="product-nav-image">
            <img class="mini-img" src="assets/images/mini1.jpg" /> 
            <img class="mini-img" src="assets/images/mini2.jpg" /> 
            <img class="mini-img" src="assets/images/mini3.jpg" /> 
            <img class="mini-img" src="assets/images/mini4.jpg" /> 
            <img class="mini-img" src="assets/images/mini5.jpg" /> 
            <img class="mini-img" src="assets/images/mini6.jpg" /> 
            <img class="mini-img" src="assets/images/mini7.jpg" /> 
            <img class="mini-img" src="assets/images/mini8.jpg" /> 
            <img class="mini-img" src="assets/images/mini9.jpg" /> 
            <img class="mini-img" src="assets/images/mini10.jpg" /> 
            <img class="mini-img" src="assets/images/mini11.jpg" /> 
            <img class="mini-img" src="assets/images/mini12.jpg" /> 
            <img class="mini-img" src="assets/images/mini13.jpg" /> 
            <img class="mini-img" src="assets/images/mini14.jpg" /> 
        </div>
    </div>
</div>