@media screen and (min-width: 1023px) {
  .twin-card-image {
    height: 600px;
  }
}
.twin-container {
  height: auto;
  padding: 10px 6.5vw 30px;
}
.twin-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px auto 10px;
  /* border: 1px solid black; */
}
.twin-card {
  /* margin-right: 30px; */
  text-align: center;
  margin-bottom: 30px;
}
.twin-card-image-one {
  height: 455px;
  width: 315px;
  border-radius: 100%;
}
.twin-card-image {
  max-width: 100%;
}
.twin-card-description {
    display: block;
    margin-top: 185px;
}
.twin-card-category {
  color: #3150a2;
  font-family: "GT Walsheim Pro Regular", Helvetica, Arial, "sans-serif";
  font-size: 13px;
  line-height: 1em;
  margin: 40px 0 20px;
}
.twin-card-title {
  font-family: "Canela", "Times New Roman", "serif";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #3150a2;
  line-height: 1em;
  margin-bottom: 15px;
}
.twin-card-action {
  display: inline-block;
  font-family: "GT Pressura", Helvetica, Arial, "sans-serif";
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.24em;
  cursor: pointer;
  color: #3150a2;
  border-bottom: 2px solid #3150a2;
  padding-bottom: 8px;
  transition: all 0.3s linear;
}
