<div class="homepage-section">
  <div class="homepage-container">
    <div class="homepage-card">
      <div><img class="homepage-card-image-one" src="assets/images/homepage1.jpg" /></div>
      <div class="homepage-card-description">
        <div class="homepage-card-title">Holiday Gift Guide</div>
        <div class="homepage-card-action">Shop Now</div>
      </div>
    </div>
  </div>
  <div class="hl col"></div>
  <app-section-one></app-section-one>
  <div class="hl col"></div>
  <app-section-two></app-section-two>
  <div class="hl col"></div>
  <app-section-three></app-section-three>
</div>
<app-section-four></app-section-four>
<section class="other-section" style="height: 30px;"></section>
<app-section-five></app-section-five>
<app-signupbox></app-signupbox>
