@media screen and (min-width: 1023px) {
  .homepage-card-image-one {
    width: 1100px;
    top: 0;
    height: 100%;
  }
}
.other-section {
  background: #c1cede;
}
.homepage-section {
  background-color: #c1cede;
  padding-top: 30px;
  background-image: url("src\assets\images\Brats-imgs\crayons1.png"), url("src\assets\images\Brats-imgs\crayons2.png");
  background-repeat: repeat-y;
  background-position: top right, bottom left;
  background-size: 35% auto;
}
.hl {
  margin: 30px auto 20px;
  width: 1100px;
  height: 10px;
  border-bottom: 1px solid #3150a2;
}
.homepage-container {
  height: auto;
  padding: 10px 6.5vw 30px;
}
.homepage-card {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.homepage-card-image-one {
  max-width: 95%;
  width: 100%;
  top: 0;
  height: 100%;
}
.homepage-card-description {
  display: inline-block;
  margin: 0 auto 0px;
  padding-top: 20px;
  background-color: #c1cede;
  border: 1px solid #c1cede;
  max-width: 600px;
  width: 100%;
  height: 25%;
  padding-top: 30px;
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40%;
  z-index: 1;
}
.homepage-card-title {
  font-family: "Canela", "Times New Roman", "serif";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  line-height: 1em;
  margin-bottom: 15px;
}
.homepage-card-action {
  display: inline-block;
  font-family: "GT Pressura", Helvetica, Arial, "sans-serif";
  font-size: 12px;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.24em;
  cursor: pointer;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 8px;
  transition: all 0.3s linear;
}
